<div class="game-list row">
	<div class="game-item col-md-12">
		<div id="samhain" class="row">
			<div class="game-image col-md-4">
				<img class="img-responsive" alt='Samhain' src='app/img/samhain.jpg' />
			</div>
			<div class="col-md-8">
				<p>
					Samhain est un jeu de rôle textuel où votre choix influe sur l'aventure et le scenario
					<br/>
					Saurez-vous prendre les bons choix ?
				</p>
			</div>
		</div>
	</div>
	<div class="game-item col-md-12">
		<div id="bul" class="row">
			<div class="game-image col-md-4">
				<img class="img-responsive" alt='BUL' src='app/img/bul.jpg' />
			</div>
			<div class="col-md-8">
				<p>
					BUL est un jeu de gestion de village où vous incarnez le nouveau arrivant dans le merveilleux village de BUL.
					<br/>
					Construisez, fructifiez et amusez-vous !
				</p>
			</div>
		</div>
	</div>
</div>